<div class="page-header">
	<h1>viewing friendships</h1>
</div>	

<% if @user_friendship.requested? %>
	<p> do you really want to be friends with <%= @friend.profile_name %>?</p>
<% end %>	

<% if @user_friendship.accepted? %>
	<p>you are friends with <%= @friend.profile_name %></p>
<% end %>

<div class="form-actions">
	<% if @user_friendship.requested? %>
		<%= form_for @user_friendship, url: accept_user_friendship_path(@user_friendship), method: :put do |form| %>
			<% submit_tag "accept", class: 'btn btn-inverse' %>
		<% end %>
	<% end %>

		<%= form_for @user_friendship, url: user_friendship_path(@user_friendship), method: :delete do |form| %>
			<% submit_tag "delete", class: 'btn btn-danger' %>
		<% end %>

</div>		