// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status {
	border-bottom: solid 1px #CCC;
	padding: 5px 0 5px 10px;
}

.status p {
	margin: 4px 0;
}

.status.hover {
	background: #E0FFFF;
}

.status .admin {
	display: none;
}

.status.hover .admin	{
	display: inline;
}

.btn-info	{
	margin: -10px 0 20px 0px;
}

hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: rgb(122, 69, 122);
    border-width: 1px 0 0 0;
    border-radius: 20px;
}


hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;    
    border-style: solid;
    border-color: rgb(122, 69, 122);
    border-width: 0 0 1px 0;
    border-radius: 20px;
}