<div class="splash2">
    <h1 class="plh1">we're launching soon.</h1>
</div>  
<div class="spacer"></div>
<div class="splash1">
    <h2 class="plh2">we'll let you know when we're ready.</h2>
    <div class="summer"> 
    
    <form action="http://trendcommons.createsend.com/t/d/s/ijlyl/" method="post">
        <div class="autumn">
            <label class="flabel" for="fieldName">Name<span class="asterik">*</span></label><br />
            <input class="ffield" id="fieldName" name="cm-name" type="text" required/><br /><br />
        
            <label class="flabel" for="fieldEmail">Email<span class="asterik">*</span></label><br />
            <input class="ffield" id="fieldEmail" name="cm-ijlyl-ijlyl" type="email" required /><br /><br />
            <br />
       
            <button class="btn-stat" type="submit">Add Me to the List</button>
        </div>
    </form>
    </div>
 </div> 
 <div class="spacer"></div>  


