<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
   <title>TrendCommons</title>
    
    <%= stylesheet_link_tag    "prelaunch", :media => "all" %>
    <%= csrf_meta_tag %>
  </head>
  <body class="plbody">
    <%= yield %>
  </body>
</html>
